@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Shadows+Into+Light&display=swap');

* {
  font-family: 'Cinzel', serif;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
  padding: 0;
  margin: 0;
}

html {
  background: url(./image/math.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
}

div {
  margin: 1rem;
}

button {
  border-style: none;
  outline: none;
  border: 2px solid #fff;
  padding: 0.5rem;
  margin: 1rem;
  cursor: pointer;
  color: #fff;
  background-color: #000;
  transition: all 0.4s;
}
button:hover {
  transform: scale(1.07);
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.75);
  width: 80vw;
}

.game-description {
  color: #fff;
  font-size: 3rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.play-btn {
  width: 50%;
  height: 11rem;
  font-size: 4rem;
  margin: 2rem;
}

.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  padding: 1rem;
}

.timer-text {
  font-size: 3rem;
}

.timer {
  color: #fff;
  font-size: 4rem;
  padding: 4px;
  animation: pulse 1s infinite;
  text-align: center;
}

@keyframes pulse {
  0% {
    transform: scale(0.98);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0.98);
  }
}

.ongame-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-status {
  color: #000;
  display: flex;
  justify-content: space-evenly;
}

.status-container {
  color: #fff;
  font-size: 3.5rem;
  background: rgba(0, 0, 0, 0.3);
  padding: 1rem;
  margin: 1rem;
  width: 20rem;
}

.status {
  transition: all 0.3s;
}

.highlight {
  transform: scale(1.2);
}

.operation {
  font-size: 4.2rem;
  color: #fff;
}

.game-form-container {
  height: 9rem;
}

.form-input {
  border-style: none;
  color: #000;
  font-size: 2.5rem;
  width: auto;
  padding: 0.5rem;
  transition: all 0.4s;
  margin: 1.5rem;
}
.form-input:focus {
  outline-style: none;
  transform: scale(1.1);
}

.normal-btn {
  font-size: 2.3rem;
}

.finished-game-container {
  font-size: 3rem;
}

.finished-status {
  margin: 2.5rem;
}

.message {
  font-size: 3.5rem;
}
